In [4]:
# Dependencies

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
from census import Census

# Census API Key

from config import api_key
c = Census(api_key, year=2019)

In [5]:
# Gather Census Data
census_data = c.acs5.get(("NAME", "B19013_001E", "B01003_001E", "B01002_001E",
                          "B19301_001E",
                          "B17001_002E",
                          "B23025_005E"), {'for': 'state:*'})

# Create the date frame
census_df = pd.DataFrame(census_data)

# Order the columns
census_df = census_df.rename(columns={"B01003_001E": "Population",
                                      "B01002_001E": "Median Age",
                                      "B19013_001E": "Household Income",
                                      "B19301_001E": "Per Capita Income",
                                      "B17001_002E": "Poverty Count",
                                      "NAME": "Name", "state": "State"})

# Calculate Poverty Rate
census_df["Poverty Rate"] = 100 * \
    census_df["Poverty Count"].astype(
        int) / census_df["Population"].astype(int)

# Reorganize the columns
census_df = census_df[["State", "Name", "Population", "Median Age", "Household Income", 
                       "Per Capita Income", "Poverty Count", "Poverty Rate"]]

census_df.head()

,State,Name,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate
0,01,Alabama,4876250.0,39.0,50536.0,27928.0,795989.0,16.323794
1,02,Alaska,737068.0,34.3,77640.0,36787.0,76933.0,10.437707
2,04,Arizona,7050299.0,37.7,58945.0,30694.0,1043764.0,14.804535
3,05,Arkansas,2999370.0,38.1,47597.0,26577.0,496260.0,16.545475
4,06,California,39283497.0,36.5,75235.0,36955.0,5149742.0,13.109174

In [6]:
print(census_df)

   State                  Name  Population  Median Age  Household Income  \
0     01               Alabama   4876250.0        39.0           50536.0
1     02                Alaska    737068.0        34.3           77640.0
2     04               Arizona   7050299.0        37.7           58945.0
3     05              Arkansas   2999370.0        38.1           47597.0
4     06            California  39283497.0        36.5           75235.0
5     08              Colorado   5610349.0        36.7           72331.0
6     10              Delaware    957248.0        40.6           68287.0
7     11  District of Columbia    692683.0        34.0           86420.0
8     09           Connecticut   3575074.0        41.0           78444.0
9     12               Florida  20901636.0        42.0           55660.0
10    13               Georgia  10403847.0        36.7           58700.0
11    16                 Idaho   1717750.0        36.4           55785.0
12    15                Hawaii   1422094.0        39.1           81275.0
13    17              Illinois  12770631.0        38.1           65886.0
14    18               Indiana   6665703.0        37.7           56303.0
15    19                  Iowa   3139508.0        38.2           60523.0
16    20                Kansas   2910652.0        36.7           59597.0
17    21              Kentucky   4449052.0        38.9           50589.0
18    22             Louisiana   4664362.0        36.9           49469.0
19    23                 Maine   1335492.0        44.7           57918.0
20    24              Maryland   6018848.0        38.7           84805.0
21    25         Massachusetts   6850553.0        39.5           81215.0
22    26              Michigan   9965265.0        39.7           57144.0
23    27             Minnesota   5563378.0        38.0           71306.0
24    28           Mississippi   2984418.0        37.5           45081.0
25    29              Missouri   6104910.0        38.6           55461.0
26    30               Montana   1050649.0        39.9           54970.0
27    31              Nebraska   1914571.0        36.5           61439.0
28    32                Nevada   2972382.0        38.0           60365.0
29    33         New Hampshire   1348124.0        42.9           76768.0
30    34            New Jersey   8878503.0        39.9           82545.0
31    35            New Mexico   2092454.0        37.8           49754.0
32    36              New York  19572319.0        38.8           68486.0
33    37        North Carolina  10264876.0        38.7           54602.0
34    38          North Dakota    756717.0        35.1           64894.0
35    39                  Ohio  11655397.0        39.4           56602.0
36    40              Oklahoma   3932870.0        36.6           52919.0
37    41                Oregon   4129803.0        39.3           62818.0
38    42          Pennsylvania  12791530.0        40.8           61744.0
39    44          Rhode Island   1057231.0        39.9           67167.0
40    45        South Carolina   5020806.0        39.4           53199.0
41    46          South Dakota    870638.0        37.0           58275.0
42    47             Tennessee   6709356.0        38.7           53320.0
43    48                 Texas  28260856.0        34.6           61874.0
44    50               Vermont    624313.0        42.9           61973.0
45    49                  Utah   3096848.0        30.8           71621.0
46    51              Virginia   8454463.0        38.2           74222.0
47    53            Washington   7404107.0        37.7           73775.0
48    54         West Virginia   1817305.0        42.5           46711.0
49    55             Wisconsin   5790716.0        39.5           61747.0
50    56               Wyoming    581024.0        37.7           64049.0
51    72           Puerto Rico   3318447.0        41.7           20539.0

    Per Capita Income  Poverty Count  Poverty Rate
0             27928.0       795989.0     16.323794
1             36787.0        76933.0     10.437707
2             30694.0      1043764.0     14.804535
3             26577.0       496260.0     16.545475
4             36955.0      5149742.0     13.109174
5             38226.0       565873.0     10.086235
6             35450.0       109400.0     11.428595
7             56147.0       107140.0     15.467393
8             44496.0       344146.0      9.626262
9             31619.0      2870487.0     13.733313
10            31067.0      1528558.0     14.692238
11            27970.0       221256.0     12.880571
12            35567.0       130649.0      9.187086
13            36038.0      1557873.0     12.198873
14            29777.0       867996.0     13.021822
15            32176.0       348122.0     11.088425
16            31814.0       337739.0     11.603551
17            28178.0       747010.0     16.790318
18            27923.0       871467.0     18.683520
19            32637.0       153131.0     11.466261
20            42122.0       539991.0      8.971667
21            43761.0       680962.0      9.940249
22            31713.0      1398527.0     14.034017
23            37625.0       526065.0      9.455856
24            24369.0       585786.0     19.628149
25            30810.0       810045.0     13.268746
26            31151.0       134605.0     12.811605
27            32302.0       206579.0     10.789832
28            31557.0       384690.0     12.942145
29            40003.0        98682.0      7.319950
30            42745.0       869081.0      9.788598
31            27230.0       392065.0     18.737091
32            39326.0      2681277.0     13.699332
33            30783.0      1467591.0     14.297211
34            36062.0        78198.0     10.333850
35            31552.0      1588343.0     13.627532
36            28422.0       598373.0     15.214665
37            33763.0       533527.0     12.918946
38            34352.0      1539183.0     12.032830
39            36121.0       125826.0     11.901467
40            29426.0       741650.0     14.771533
41            30773.0       110553.0     12.697930
42            29859.0       996930.0     14.858803
43            31277.0      4072194.0     14.409309
44            34577.0        65652.0     10.515879
45            29775.0       298537.0      9.640028
46            39278.0       865691.0     10.239456
47            38915.0       785244.0     10.605519
48            26480.0       310044.0     17.060647
49            33375.0       639160.0     11.037668
50            33366.0        62257.0     10.715048
51            12914.0      1449091.0     43.667746