In [1]:
# dependencies

import gmaps
import numpy as np
import pandas as pd
import requests
import time
from scipy.stats import linregress
from matplotlib import pyplot as plt

In [2]:
ed_data = pd.read_csv("../resources/NEDI2018statedata.csv")
ed_data.head()

,Name,Abbreviation,Total # Eds,Total ED visit volume,Median visit volume,IQR visit volume,Unnamed: 6,<10k,10-19k,20-29k,30-39k,40-49k,>50k
0,Alaska,AK,20,"261,985","5,979","2,270","16,180",13,3,0,3,0,1
1,Alabama,AL,98,"2,825,756","22,197","11,000","42,087",18,28,11,15,8,18
2,Arkansas,AR,79,"1,730,571","12,350","7,000","32,799",30,19,9,5,4,12
3,Arizona,AZ,88,"3,119,364","29,200","12,775","50,000",14,20,13,10,8,23
4,California,CA,341,"15,787,403","41,975","24,000","67,630",37,36,37,54,44,133

In [3]:
mortality_data = pd.read_csv("../resources/us-counties.csv")
mortality_data.head()

         date     county       state     fips  cases  deaths
0  2020-01-21  Snohomish  Washington  53061.0      1     0.0
1  2020-01-22  Snohomish  Washington  53061.0      1     0.0
2  2020-01-23  Snohomish  Washington  53061.0      1     0.0
3  2020-01-24       Cook    Illinois  17031.0      1     0.0
4  2020-01-24  Snohomish  Washington  53061.0      1     0.0

In [4]:
unique_value = mortality_data["state"].nunique()
unique_value

55

In [5]:
ed_data["Name"].nunique()

51

In [6]:
# groupby mortality_data on state name with sum on deaths

grp_mortality = mortality_data.drop(columns=["fips", "date"])

grp_mortality = grp_mortality.groupby(["state"]).sum().reset_index(["state"])
grp_mortality = grp_mortality.rename(columns={"state": "Name"})

#add death rate column death/cases
grp_mortality["Death Rate"] = round((grp_mortality["deaths"].astype(int)/grp_mortality["cases"].astype(int))*100,2)
grp_mortality.head()

         Name      cases     deaths  Death Rate
0     Alabama   46078611   728745.0        1.58
1      Alaska    4544475    20735.0        0.46
2     Arizona   69132576  1418028.0        2.05
3    Arkansas   27248041   428643.0        1.57
4  California  271972863  4177868.0        1.54

In [9]:
# remove virgin islands, guam, n mariana islands
# retain Puerto Rico
# merge dataframes on state name to retain the states in the ed_data
# this eliminates Puerto Rico from the dataset

merged_ed_mort = pd.merge(ed_data, grp_mortality, how = "left", on = "Name").sort_values("Name")
merged_ed_mort

,Name,Abbreviation,Total # Eds,Total ED visit volume,Median visit volume,IQR visit volume,Unnamed: 6,<10k,10-19k,20-29k,30-39k,40-49k,>50k,cases,deaths,Death Rate
1,Alabama,AL,98,"2,825,756","22,197","11,000","42,087",18,28,11,15,8,18,46078611,728745.0,1.58
0,Alaska,AK,20,"261,985","5,979","2,270","16,180",13,3,0,3,0,1,4544475,20735.0,0.46
3,Arizona,AZ,88,"3,119,364","29,200","12,775","50,000",14,20,13,10,8,23,69132576,1418028.0,2.05
2,Arkansas,AR,79,"1,730,571","12,350","7,000","32,799",30,19,9,5,4,12,27248041,428643.0,1.57
4,California,CA,341,"15,787,403","41,975","24,000","67,630",37,36,37,54,44,133,271972863,4177868.0,1.54
5,Colorado,CO,131,"2,515,825","10,220","4,500","23,725",64,29,10,9,4,15,35779317,721293.0,2.02
6,Connecticut,CT,35,"1,666,267","39,000","25,000","61,983",0,6,5,7,2,15,24625667,1338181.0,5.43
8,Delaware,DE,11,"523,043","43,800","28,369","62,474",0,1,2,2,1,5,7447062,179045.0,2.40
7,District of Columbia,DC,10,"591,681","53,749","36,439","75,000",0,1,0,2,1,6,4749053,174462.0,3.67
9,Florida,FL,266,"11,601,824","37,410","21,900","60,000",21,38,44,42,28,93,189474338,3429542.0,1.81
10,Georgia,GA,139,"5,317,119","30,677","10,950","59,788",32,23,14,12,10,48,88098537,1761878.0,2.00
11,Hawaii,HI,23,"549,741","21,000","5,833","44,000",9,2,3,3,3,3,2923884,38213.0,1.31
13,Idaho,ID,42,"649,169","8,875","3,650","26,760",22,9,2,3,3,3,15705246,162163.0,1.03
14,Illinois,IL,195,"5,768,938","25,374","9,125","42,915",51,32,31,20,29,32,117225348,2869021.0,2.45
15,Indiana,IN,129,"3,548,684","20,000","10,950","42,915",28,34,20,10,16,21,55300409,1228090.0,2.22
12,Iowa,IA,119,"1,488,702","5,475","3,128","18,250",82,10,13,6,1,7,33310004,478668.0,1.44
16,Kansas,KS,140,"1,589,329","2,851","1,108","13,366",94,20,6,5,7,8,24469142,299938.0,1.23
17,Kentucky,KY,103,"2,651,411","20,800","10,783","36,082",25,25,18,14,10,11,29570987,400355.0,1.35
18,Louisiana,LA,113,"3,156,983","21,694","8,332","40,011",32,22,13,16,12,18,47137391,1455510.0,3.09
21,Maine,ME,35,"643,990","14,000","10,084","25,000",7,16,6,4,1,1,2639419,51714.0,1.96
20,Maryland,MD,54,"2,573,366","47,563","26,881","62,050",2,8,4,7,10,23,39803733,1128935.0,2.84
19,Massachusetts,MA,73,"3,234,197","40,759","25,550","60,000",1,15,9,11,10,27,52685619,2671597.0,5.07
22,Michigan,MI,146,"5,182,125","23,606","12,000","52,000",28,32,23,13,9,41,61204657,2318158.0,3.79
23,Minnesota,MN,131,"2,108,808","7,300","3,202","18,250",73,27,7,5,7,12,44520188,726849.0,1.63
25,Mississippi,MS,85,"2,113,792","14,600","7,300","36,500",31,16,11,11,6,10,28762121,753363.0,2.62
24,Missouri,MO,119,"3,155,120","20,075","8,600","41,975",35,22,16,15,14,17,46804781,749393.0,1.60
26,Montana,MT,60,"450,497","3,919",917,"8,261",47,7,2,3,0,1,7938262,95218.0,1.20
29,Nebraska,NE,86,"670,775","2,273",924,"5,475",66,6,6,4,2,2,19117589,194697.0,1.02
33,Nevada,NV,42,"1,567,633","29,600","10,526","55,011",10,5,6,2,7,12,26811738,443073.0,1.65
30,New Hampshire,NH,27,"575,648","14,066","10,499","28,104",6,8,7,3,2,1,4592342,133388.0,2.90
31,New Jersey,NJ,79,"4,063,152","45,772","30,000","69,513",2,6,11,14,10,36,77791496,4490747.0,5.77
32,New Mexico,NM,40,"1,020,771","18,447","10,950","36,500",9,12,8,4,4,3,14927910,313749.0,2.10
34,New York,NY,189,"9,003,732","37,966","21,900","67,500",17,28,23,32,20,69,166920004,9659438.0,5.79
27,North Carolina,NC,126,"5,142,050","34,675","20,075","51,169",7,23,17,30,13,36,68345333,1002530.0,1.47
28,North Dakota,ND,42,"293,447","1,527",806,"4,745",34,3,1,3,0,1,9838556,133038.0,1.35
35,Ohio,OH,219,"7,000,902","25,550","14,600","43,800",25,59,40,33,20,42,71858200,1398227.0,1.95
36,Oklahoma,OK,116,"1,927,182","10,689","3,600","21,904",56,24,17,7,2,10,32038609,333194.0,1.04
37,Oregon,OR,60,"1,693,861","21,400","11,696","41,075",10,18,6,9,6,11,12680799,186566.0,1.47
38,Pennsylvania,PA,171,"6,418,073","34,330","18,250","50,194",15,32,22,29,27,46,72536138,2634969.0,3.63
39,Rhode Island,RI,9,"433,645","32,000","32,000","71,000",0,0,2,4,0,3,10797274,328312.0,3.04
40,South Carolina,SC,69,"2,644,768","33,362","20,502","53,031",4,12,12,17,5,19,41984440,823203.0,1.96
41,South Dakota,SD,51,"318,187","2,058",837,"6,570",44,3,0,2,1,1,10680743,140985.0,1.32
42,Tennessee,TN,127,"3,961,853","25,000","11,245","47,450",23,30,21,15,9,29,65697386,813903.0,1.24
43,Texas,TX,815,"14,991,263","8,849","3,650","24,500",440,140,69,45,41,80,229944746,4011121.0,1.74
44,Utah,UT,50,"984,448","11,758","5,843","27,000",20,12,8,3,2,5,30539765,160643.0,0.53
46,Vermont,VT,14,"276,668","15,018","13,736","25,152",3,6,3,1,0,1,889146,21764.0,2.45
45,Virginia,VA,108,"3,763,875","28,952","16,463","45,313",6,33,19,12,14,24,47225568,858922.0,1.82
47,Washington,WA,99,"2,952,721","21,900","7,782","47,450",26,20,11,10,10,22,31516913,636351.0,2.02
49,West Virginia,WV,50,"1,250,237","18,838","10,950","38,343",9,16,7,7,4,7,8224861,141425.0,1.72
48,Wisconsin,WI,131,"2,766,586","14,600","8,000","29,200",43,39,19,11,9,10,56603325,605053.0,1.07
50,Wyoming,WY,28,"229,704","4,165","2,270","10,625",20,5,1,1,1,0,4204919,38243.0,0.91