In [11]:
# dependencies

import gmaps
import numpy as np
import pandas as pd
import requests
import time
from scipy.stats import linregress
from matplotlib import pyplot as plt

In [14]:
ed_data = pd.read_csv("../resources/NEDI2018statedata.csv")
ed_data.head()

,Name,Abbreviation,Total # EDs,Total ED visit volume,Median visit volume,IQR visit volume,Unnamed: 6,<10k,10-19k,20-29k,30-39k,40-49k,>50k
0,United States,USA,"5,533","158,756,870","20,000","7,760","43,065","1,691","1,041",665.0,605.0,457.0,"1,074"
1,Alaska,AK,20,"261,985","5,979","2,270","16,180",13,3,0.0,3.0,0.0,1
2,Alabama,AL,98,"2,825,756","22,197","11,000","42,087",18,28,11.0,15.0,8.0,18
3,Arkansas,AR,79,"1,730,571","12,350","7,000","32,799",30,19,9.0,5.0,4.0,12
4,Arizona,AZ,88,"3,119,364","29,200","12,775","50,000",14,20,13.0,10.0,8.0,23

In [16]:
mortality_data = pd.read_csv("../resources/us-counties.csv")
mortality_data.head(25)

          date       county       state     fips  cases  deaths
0   2020-01-21    Snohomish  Washington  53061.0      1     0.0
1   2020-01-22    Snohomish  Washington  53061.0      1     0.0
2   2020-01-23    Snohomish  Washington  53061.0      1     0.0
3   2020-01-24         Cook    Illinois  17031.0      1     0.0
4   2020-01-24    Snohomish  Washington  53061.0      1     0.0
5   2020-01-25       Orange  California   6059.0      1     0.0
6   2020-01-25         Cook    Illinois  17031.0      1     0.0
7   2020-01-25    Snohomish  Washington  53061.0      1     0.0
8   2020-01-26     Maricopa     Arizona   4013.0      1     0.0
9   2020-01-26  Los Angeles  California   6037.0      1     0.0
10  2020-01-26       Orange  California   6059.0      1     0.0
11  2020-01-26         Cook    Illinois  17031.0      1     0.0
12  2020-01-26    Snohomish  Washington  53061.0      1     0.0
13  2020-01-27     Maricopa     Arizona   4013.0      1     0.0
14  2020-01-27  Los Angeles  California   6037.0      1     0.0
15  2020-01-27       Orange  California   6059.0      1     0.0
16  2020-01-27         Cook    Illinois  17031.0      1     0.0
17  2020-01-27    Snohomish  Washington  53061.0      1     0.0
18  2020-01-28     Maricopa     Arizona   4013.0      1     0.0
19  2020-01-28  Los Angeles  California   6037.0      1     0.0
20  2020-01-28       Orange  California   6059.0      1     0.0
21  2020-01-28         Cook    Illinois  17031.0      1     0.0
22  2020-01-28    Snohomish  Washington  53061.0      1     0.0
23  2020-01-29     Maricopa     Arizona   4013.0      1     0.0
24  2020-01-29  Los Angeles  California   6037.0      1     0.0